button{
 cursor:pointer;pointer-events:auto;
 font:600 16px/18px arial,sans-serif;
 padding:10px 20px;
 border-radius:8px;
 border:0;
 margin:0;
 outline:0;
 text-shadow:1px 1px 2px rgba(0,0,0,.4),0 1px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 3px rgba(0,0,0,.36),rgba(255,255,255,.23) 3px 3px 0 0 inset,inset -1px -2px 4px rgba(0,0,0,.62);
 background-color:#f70000;
 color:#fff
}
